<?php
// このファイルをconf.phpとしてコピーしてね♡｡ﾟ.(*♡´◡` 人´◡` ♡*)ﾟ♡ °・
// ON/OFF(true/false)設定ゎtypeがめんどぅなので1/0にします( ˘ ³˘)♡

class CONFIG_USER
{
    // 秘密のIDぉ入れるのだ(ㆁ × ㆁ)
    const VIEWER_ID = '';

    // ♡がこの数値以上の場合ゎ行動する(˃ꌂ˂⁎)
    // 牛乳を使ぅ場合ゎ0にしてね(❛ᴗ❛(❛ᴗ❛♡
    const LIFE_BORDER_FIELD_ACTION = 3;
    
    // *★*☆*★*☆*★*♡牛乳♡設定♡*★*☆*★*☆*★*
    const AUTO_MILK_ENABLE       = 1;//自動で牛乳ぉ使うょ♡
    // (ु*´З`)ू❣牛乳の残り個数がこの数値ィヵなら使ゎなぃょっ♪
    const AUTO_MILK_USING_BORDER = 5;
    
    // *★*☆*★*☆*★*♡フィールド♡設定♡*★*☆*★*☆*★*
    const FIELD_EVENT_BOX_OPEN   = 1;//宝箱ぉ獲得するかィ？(๑>◡<๑)
    const FIELD_EVENT_BOSS       = 1;//召喚獣ぉ捕まえるかィ？(◜▿‾ ≡‾▿◝)
    
    // (꒡ȯ꒡)＜ここゎ変更しなくてィィのだよ☆
    const USER_AGENT = 'Mozilla/5.0 (iPhone; CPU iPhone OS 6_0 like Mac OS X) AppleWebKit/536.26 (KHTML, like Gecko) Version/6.0 Mobile/10A403 Safari/8536.25';
}

// ♡[τ̲̅н̲̅a̲̅и̲̅κ̲̅ ч̲̅o̲̅u̲̅]ᴗ͈ₒᴗ͈♡

require_once dirname(__FILE__).'/define.php';
require_once DIR_HELPER.'/ClassLoader.php';
