<?php

class CONFIG_USER
{
    const VIEWER_ID = '';
    const USER_AGENT = 'Mozilla/5.0 (iPhone; CPU iPhone OS 6_0 like Mac OS X) AppleWebKit/536.26 (KHTML, like Gecko) Version/6.0 Mobile/10A403 Safari/8536.25';
}

require_once dirname(__FILE__).'/define.php';
require_once DIR_HELPER.'/ClassLoader.php';
