<?php
// このファイルをconf.phpとしてコピーしてね♡｡ﾟ.(*♡´◡` 人´◡` ♡*)ﾟ♡ °・

class CONFIG_USER
{
    // 秘密のIDを入れるのだ(ㆁ × ㆁ)
    const VIEWER_ID = '';

    // ♡がこの数値以上の場合ゎ行動する(˃ꌂ˂⁎)
    // 牛乳を使ぅ場合ゎ0にしてね(❛ᴗ❛(❛ᴗ❛♡
    const FIELD_ACTION_LIFE_BORDER = 3;
    
    // ▤ ▥ ▦ ♡牛乳♡設定♡▧ ▤ ▥
    // ON/OFF(true/false)設定はtypeがめんどうなので1/0にします( ˘ ³˘)♡
    const USE_AUTO_MILK = 1;
    // (ु*´З`)ू❣牛乳の残り個数がこの数値ィヵなら使わないよっ♪
    const USE_AUTO_MILK_BORDER = 45;
    
    // ▤ ▥ ▦ ♡フィールド♡設定♡▧ ▤ ▥
    const FIELD_EVENT_BOX_OPEN = 1;//宝箱を開けるカイ？(๑>◡<๑)
    const FIELD_EVENT_BOSS     = 1;//(◜▿‾ ≡‾▿◝)召喚獣を捕まえるカイ？(◜▿‾ ≡‾▿◝)
    
    // (꒡ȯ꒡)＜ここは変更しなくてィィのだよ☆
    const USER_AGENT = 'Mozilla/5.0 (iPhone; CPU iPhone OS 6_0 like Mac OS X) AppleWebKit/536.26 (KHTML, like Gecko) Version/6.0 Mobile/10A403 Safari/8536.25';
}

// ♡[τ̲̅н̲̅a̲̅и̲̅κ̲̅ ч̲̅o̲̅u̲̅]ᴗ͈ₒᴗ͈♡

require_once dirname(__FILE__).'/define.php';
require_once DIR_HELPER.'/ClassLoader.php';
